%avatar-base {
  display: block;
  overflow: hidden;
  border-radius: 50%;
  // 이미지가 없을때 대응
  background-image: url('./assets/images/img-user-default.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // background-img와 같은 효과를 낼 수 있다.
  }
}

.avatar-24 {
  @extend %avatar-base;
  width: 24px;
  height: 24px;
}
.avatar-32 {
  @extend %avatar-base;
  width: 32px;
  height: 32px;
}
